<!doctype html>
<html>

<head>

    <title>Create Books</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <!----======== CSS ======== -->

    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <style>
        .namepage {
            font-family: 'Poppins', sans-serif;
            color: #707070;
            padding: 30px;
            text-align: center;
        }

        .form_create {
            /* float: center; */

            border-radius: 20px;
            width: 50%;
            background-color: rgb(255, 255, 255);
        }

        .form {
            margin: 50px;
        }

        .form-control {
            width: 100%;
            margin: 10px;
            border-radius: 20px;

        }

         .btn  {
             
            background-color: #695CFE;
            border-radius: 50px;
            color: white;
            margin-top: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(237, 236, 236, 0.19);
        }

        .btn:hover {
            background-color: #a7a7a7;

        }
        .add_episode .dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        #myInput {
            box-sizing: border-box;
            background-image: url('searchicon.png');
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 1px solid #ddd;
            }

        #myInput:focus {outline: 3px solid #ddd;}

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}

        
    </style>

</head>

<body>
    <%- include("partials/sidebar.ejs") %>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="namepage"> Create book</h1>
                <center>
                    <div class="row center form_create">
                        <div class="test">

                            <form method="POST" action="/book" class="form">
                                <div class="form-group">
                                    <input class="form-control" name="book_id" placeholder="book id" required>
                                    <input class="form-control" name="name" placeholder="name" required>
                                    <input class="form-control" name="auther" placeholder="auther" required>
                                    <input class="form-control" name="trailer" placeholder="trailer">
                                    <input class="form-control" name="text" placeholder="story">
                                    <input class="form-control" name="image" placeholder="url image" required>
                                    <label for="exampleFormControlSelect1">Category</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="category"
                                        required>
                                        <option>ทั่วไป</option>
                                        <option>นิยาย</option>
                                        <option>ธุรกิจ</option>
                                        <option>นิทาน</option>
                                        <option>ศาสนา</option>
                                        <option>บทความ</option>
                                        <option>สืบสวน</option>
                                        <option>จิตวิทยา</option>
                                    </select>
                                    <!-- <div class="form-group">
                                <input type="file" class="form-control-file" id="filetest">
                            </div> -->
                                </div>
                                <button type="submit" class="btn" onclick="">Submit</button>
                            </form>

                        </div>
                        
                        <br><br>
                        <!--    <% books.sort((a, b)=> (a._id > b._id ? -1 : 1)).forEach(function(data) { %>
                            <div class="col-6 col-md-4">
                                <div class="card">
                                    <form method="GET" action="/book/<%=data._id%>" >
                                        <button type="submit" class="btn" onclick="">
                                            Edit
                                        </button>
                                    </form>
                                    <img src=<%=data.image %> >
                                    <span class="title">name : <%= data.name %></span>
                                    <span>book id : <%= data.book_id %></span>
                                    <div>auther : <%= data.auther %>
                                    </div>
                                    <div>text : <%= data.text %>
                                    </div>
                                    <div>trailer : <%= data.trailer %>
                                    </div>
                                    <div>view : <%= data.view %>
                                    </div>
                                    <div>category : <%= data.category %>
                                    </div>
                                    <div>
                                        create_date : <%= moment(data.create_date).format('DD MMMM YYYY HH:mm:ss') %>
                                    </div>
                                    <form method="POST" action="/book/<%=data._id%>" class="form">
                                        <button type="submit" class="btn" onclick="">
                                            Delete
                                        </button>
                                    </form>
                                    <!-- <div>
                                        <a href="<%= `/book/${data._id}?_method=POST` %>"
                                            onclick="confirm('ยืนยันลบหนังสือเสียง <%= data.name %> ?')">Delete</a>
                                    </div> -->
                                    
                                <!-- </div>
                            </div>
                            <% }); %> --> 
                    </div>
                </center>
            </div>


            <!-- <div class="container">
                <h1 class="namepage">Add Episode</h1>
                <center>
                    <div class="row center form_create">
                        <div class="test">

                            <form method="POST" action="/book" class="form">
                                <div class="form-group add_episode">
                                    <div class="dropdown">
                                        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                                        <div id="myDropdown" class="dropdown-content">
                                          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                          <a href="#about">About</a>
                                          <a href="#base">Base</a>
                                          <a href="#blog">Blog</a>
                                          <a href="#contact">Contact</a>
                                          <a href="#custom">Custom</a>
                                          <a href="#support">Support</a>
                                          <a href="#tools">Tools</a>
                                        </div>
                                      </div>
                                 </div>
                                <button type="submit" class="btn" onclick="ConfirmAdd()">Submit</button>
                            </form>

                        </div>
                        
                        <br><br>

                    </div> -->
                </center>
            </div>

            <script>
                function ConfirmAdd() {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You want to add a new book.",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, add it!',
                        color: '#716add',
                        background: '#fff url(/images/trees.png)',
                        backdrop: `
                    rgba(0,0,123,0.4)
                    url("/images/nyan-cat.gif")
                    left top
                    no-repeat
                `
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                                'Added!',
                                'Book has been added.',
                                'success'
                            )
                        }
                    })
                }
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                    }

                    function filterFunction() {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    div = document.getElementById("myDropdown");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                        txtValue = a[i].textContent || a[i].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                        } else {
                        a[i].style.display = "none";
                        }
                    }
                    }
            </script>
        </div>
</body>

</html>